# Class 17 Jun 
* List
* Tuple
* set
* dictionary

# List

In [9]:
#List is declare in square bracket
data = [['1','qasim','msds'],
        ['2','asif','ai'],
        ['3','ali','eng']
        ]
print(data[1][1])

data[1][1] = 'shahzad'

print(data[1][1])

asif
shahzad

In [12]:
#Tupple is declared in round bracket
name = ('ali','shahzad','saad')
print(name[2])
#tupple don't support changes in data

saad

# Set

In [18]:
#set don't allow dupplicate value and it declared in currly bracket
set_name = {'qasim','ali','hamza','asif','qasim','hamza'}
#set don't support index values

## Dictionary

In [24]:
#          0      1       2    3               #index
data = ['qasim','aslam','AI','9pm to 12 am']  #values, elements

#key always int or string
d_data = {
    #key : value
    "name" : 'qasim',
    "fname" : 'aslam',
    "course ": 'AI',
    "timming" : '9 pm to 12 am'    
}

print(d_data['fname'])

aslam

# Tupple method

In [35]:
names = ('a','b','c','d','e','a')
print(names)
print(names.count('a'))
print(names.index('a'))

('a', 'b', 'c', 'd', 'e', 'a')
2
0

In [41]:
set_name = {'a','b','c','d','e'}
print(set_name)
set_name.add('f')
print(set_name)
set_name.update('f','e')
print(set_name)

{'c', 'e', 'd', 'a', 'b'}
{'c', 'e', 'f', 'd', 'a', 'b'}
{'c', 'e', 'f', 'd', 'a', 'b'}

In [47]:
set_name1 = {'a','b','c','d','e'}
set_name2 = {'j','i','h','g','f'}
print(set_name1.difference(set_name2))
print(set_name1.intersection(set_name2))
print(set_name1.isdisjoint(set_name2))

{'c', 'd', 'e', 'a', 'b'}
set()
True