In [7]:
names = ["A","B","C","D"]
for name in names :
    print(name)

A
B
C
D

In [12]:
data = {"id":1,
       "name":"Qasim",
       "course":"AI"}
for k in data :
    print(k,data[k])

id 1
name Qasim
course AI

In [13]:
a,b,c = 1,2,3
print(a,c,b)

1 3 2

In [16]:
print(data.items())

dict_items([('id', 1), ('name', 'Qasim'), ('course', 'AI')])

# Comprehension  Style

In [18]:
num = 20
"Even" if num % 2  == 0 else "False"
#True Blook if Logic else False Block

'Even'

# List comperhensiv
 * aisay number nikal k dain 3/7/15
 
     ---
 for variable in list :
    for_loop_body
 ---

In [24]:
print([num*2 for num in range(1,11)])
print([num**3 for num in range(1,11)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [26]:
l = []

for num in range(1,11) :
    l.append(num)
    
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
[num for num in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Nested Loop

In [29]:
student = ['a','b','c','d']
course = ["web","DS"]

for s in student :
    for c in course:
        print(s,c)

a web
a DS
b web
b DS
c web
c DS
d web
d DS

In [40]:
data = [[1,'ali ahmed',"DS"],
       [2,'b',"AI"],
       [3,'c',"WEB"],
       [4,'d',"DS"]]

for d in data :
    for r in d :
        print(r,end="\t")
    print()

1	ali ahmed	DS
2	b	AI
3	c	WEB
4	d	DS

In [42]:
#body parent loop chill loop
[cell for row in data for cell in row]

[1, 'ali ahmed', 'DS', 2, 'b', 'AI', 3, 'c', 'WEB', 4, 'd', 'DS']

In [45]:
[ 'Even' if num % 2 == 0 else 'Odd' for num in range(1,11)]

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [55]:
[ print(num,"is Even") for num in range(1,11) if num%2==0]

2 is Even
4 is Even
6 is Even
8 is Even
10 is Even

[None, None, None, None, None]

In [56]:
list(enumerate(names))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]

In [60]:
for indx, name in enumerate(names):
    print(indx,name)

0 D