In [1]:
name = 'iqbal E A A AHMED e'
name.capitalize()

print(type(name))
dir(str)
print(name.find('a'))
print(name.casefold())
print(name.casefold().count('a'))
print(name.lower())
print(name.casefold())
print(name.encode('utf-8'))
print (name.startswith('iQ'))
print (name.endswith('e'))

<class 'str'>
3
iqbal e a a ahmed e
4
iqbal e a a ahmed e
iqbal e a a ahmed e
b'iqbal E A A AHMED e'
False
True

In [2]:
fname = "name:\t Iqbal \t Ahmed\nfather's name:\t M. \t Bachal"

print(fname.expandtabs(20))

name:                Iqbal               Ahmed
father's name:       M.                  Bachal

In [3]:
name =  "name :\t {nm} \nclass :\t {cl}"
data = {"nm":'Qasim', "cl":"Sylani"}

print(name.format_map(data).expandtabs(20))

name :               Qasim
class :              Sylani

In [17]:
name = "3"
print(name.isalnum())
print(name.isalpha())
print(name.isnumeric())

True
False
True

In [24]:
a = [i for i in dir(name) if '_' not in i]
a

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# List Data type
# index
# slicing
# method
# Attributes

In [28]:
names = ['iqbal','ahmed','noman','shahzad','kamran']
print(names[-2])

shahzad

In [ ]:
#Slicing
#list[start:end:step]
#defualt left to right (step=1,-1)
#start : include
#end: exclude
#step:

In [32]:
names = ['iqbal','ahmed','noman','shahzad','kamran']
print(names[1])#index
print(names[0:3])
print(names[0:5:1])
print(names[0:5:2])

ahmed
['iqbal', 'ahmed', 'noman']
['iqbal', 'ahmed', 'noman', 'shahzad', 'kamran']
['iqbal', 'noman', 'kamran']